.main {
  padding-bottom: 150px;
  padding-left: 40px;
  padding-right: 40px;
}

.weather {
  position: relative;
}

.weather__info {
  position: absolute;
  top: 5px;
  left: 16px;
  color: white;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 20px;
}

.weather__image {
  width: 100%;
}
.card__section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  width: 310px;
  height: 310px;
  border-radius: 19px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card_name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
  margin: 0;
}

.card__image {
  height: 325px;
  width: 328px;
  border-radius: 10px;
}

