@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../../public/vendor/fonts/CabinetGrotesk-Regular.otf");
}

.main {
  padding-bottom: 150px;
  padding-left: 40px;
  padding-right: 40px;
}

.card__section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card__items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1360px;
  width: 100%;
  padding-top: 34px;
}

.weather__suggest {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 40px;
}
