@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../../public/vendor/fonts/CabinetGrotesk-Regular.otf");
}

.modal__password {
  color: rgba(0, 0, 0, 0.5);
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border: none;
  width: 100%;
  border-bottom: 1px solid;
  padding-top: 20px;
}

.modal__email {
  color: rgba(0, 0, 0, 0.5);
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border: none;
  width: 100%;
  border-bottom: 1px solid;
  padding-top: 20px;
}

.modal__submit-button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 20px;
  left: 34px;
}

.modal__submit-button:hover {
  cursor: pointer;
}

.modal__submit-register-button {
  color: rgba(0, 0, 0, 0.5);
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  position: absolute;
  bottom: 25px;
  left: 110px;
  background-color: white;
  border: none;
}

.modal__submit-login-button:hover {
  cursor: pointer;
}

.modal__button-container {
  display: flex;
}

.modal__submit-register-button:hover {
  cursor: pointer;
}
